/*CSS for table*/
.btn,
.panel {
	border: none;
}
.btn {
	width: 100%;
}

.register-body{
/*  background: url('') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-form {
    max-width: 350px;
    margin: 5% auto 0;
    background: #d5d7de;    
}
.register-body .register-form{
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.9);
}
.register-form a{
    color: #688a7e !important;
}
.register-form h2.register-form-heading {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #34aadc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.register-form .checkbox {
    margin-bottom: 14px;
}
.register-form .checkbox {
    font-weight: normal;    
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.register-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.register-form .form-control:focus {
    z-index: 2;
}
.register-form .register-img{
    font-size: 50px;
    font-weight: 300;   
    margin-bottom: 20px; 
}
.register-form .input-group{
    padding-bottom: 15px;
}
.register-form .input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
.register-form input[type="text"], .register-form input[type="password"] {    
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0; 
}
.register-form .btn{
    border-radius: 0;
}

.register-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.register-body .register-form p, .register-form p {
    color: #34aadc;
}
.register-form a {
    color: #b6b6b6;
}

.register-form a:hover {
    color: #34aadc;
}
.form .required{
    font-size: 16px;
    color: #00a0df;
}

.register-wrap {
    padding: 20px;
}

.register-wrap label{
    margin-left:20px;
}

.register-form #email {
    border: none;
    border-radius: 0px;
}


